# Directories #
/build/
target/
.mvn/
metastore_db/
 
# OS Files #
.DS_Store 
*.jar
*.ear
*.db
*.patch 

# Thumbnails
._*
 
#######################################
# IntelliJ specific files/directories #
#######################################
.out
.idea/*
.idea/
!.idea/vcs.xml
*.ipr
*.iws
*.iml
*.log

#######################################
# Maven
#######################################
dependency-reduced-pom.xml


#######################################
# Docker
#######################################
node_modules
package-lock.json
